fieldset {
    border: none;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 7px, transparent 7px) 0% 0%/8px 8px no-repeat,
        radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 7px, transparent 7px) 100% 0%/8px 8px no-repeat,
        radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 7px, transparent 7px) 0% 100%/8px 8px no-repeat,
        radial-gradient(circle at 0 0, #ffffff 0, #ffffff 7px, transparent 7px) 100% 100%/8px 8px no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 2px) calc(100% - 16px) no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 2px) no-repeat,
        linear-gradient(90deg, transparent 0%, #48abe0 100%);
    border-radius: 8px;
    padding: 5px;
    box-sizing: border-box;
}

legend {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

}

.user-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 17% 3%;
    padding: 2% 1%;
    border-radius: 0 0 1rem 1rem;
    box-shadow: -11px -4px 28px -11px rgba(0, 0, 0, 0.281);

}

.user-info-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    box-shadow: -11px -4px 28px -11px rgba(0, 0, 0, 0.281);
    border-radius: 1rem;
    margin: 0 1rem;
}


.user-image {
    width: 300px;
    border-radius: 0.8rem;
    box-shadow: -11px -4px 28px -11px rgba(0, 0, 0, 0.281);
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 6px, transparent 6px) 0% 0%/8px 8px no-repeat,
        radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 6px, transparent 6px) 100% 0%/8px 8px no-repeat,
        radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 6px, transparent 6px) 0% 100%/8px 8px no-repeat,
        radial-gradient(circle at 0 0, #ffffff 0, #ffffff 6px, transparent 6px) 100% 100%/8px 8px no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 16px) no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 4px) no-repeat,
        linear-gradient(90deg, transparent 0%, #48abe0 100%);
    border-radius: 8px;
    padding: 2px;
    box-sizing: border-box;
}

.user-address-container {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: -11px -4px 28px -11px rgba(0, 0, 0, 0.281);
}

.user-page-heading {
    margin: 0 18%;
}

@media only screen and (max-width: 968px) {
    .user-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user-image {
        width: 106%;
    }

    .user-address-container {
        width: 100%;
    }

}