.user-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 17%;
    padding: 2% 1%;
    border-radius: 1rem;

}

.user-info-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}


.user-image {
    width: 300px;
}

.user-address-container {
    display: flex;
    flex-direction: column;
}

.user-page-heading {
    margin: 0 18%;
}